# API Keys
ASSEMBLY_API_KEY= 4c5a4676f9364a7296c19879c7efc80c
CLAUDE_API_KEY= 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

# Server configuration
PORT=3000
